Crusader of Centy/Crusader of Centy.bin
Darius II/Darius II.bin
Dial Q o Mawase\!/Dial Q o Mawase\!.bin
Dino Land/Dino Land.bin
Dr Robotnik's Mean Bean Machine/Dr Robotnik's Mean Bean Machine.bin
Galaxy Force II/Galaxy Force II.bin
Gley Lancer/Gley Lancer.bin
Granada/Granada.bin
Gynoug/Gynoug.bin
Jewel Master/Jewel Master.bin
Kishi Densetsu/Kishi Densetsu.bin
Landstalker/Landstalker.bin
Langrisser II/Langrisser II.bin
Langrisser/Langrisser.bin
Lord Monarch/Lord Monarch.bin
Maten no Soumetsu/Maten no Soumetsu.bin
Ranger-X/Ranger-X.bin
Shining Force II/Shining Force II.bin
Shining Force/Shining Force.bin
Shining in the Darkness/Shining in the Darkness.bin
Snow Bros/Snow Bros.bin
Space Invaders 91/Space Invaders 91.bin
Steel Empire/Steel Empire.bin
Ys III/Ys III.bin
Zero Wing/Zero Wing.bin
output.fur
